In [4]:

!pip install geocoder

Collecting geocoder
  Downloading geocoder-1.38.1-py2.py3-none-any.whl (98 kB)
Requirement already satisfied: click in c:\users\dell\anaconda3\lib\site-packages (from geocoder) (7.0)
Collecting ratelim
  Downloading ratelim-0.1.6-py2.py3-none-any.whl (4.0 kB)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from geocoder) (1.14.0)
Requirement already satisfied: requests in c:\users\dell\anaconda3\lib\site-packages (from geocoder) (2.22.0)
Requirement already satisfied: future in c:\users\dell\anaconda3\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: decorator in c:\users\dell\anaconda3\lib\site-packages (from ratelim->geocoder) (4.4.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\dell\anaconda3\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests->geocoder) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests->geocoder) (1.25.8)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [5]:
import pandas as pd
import numpy as np
import geocoder
print("Imported!")

Imported!

In [6]:
df = pd.read_csv('toronto.csv')
df.head()

   Unnamed: 0 Postal Code  Unnamed: 2           Borough  Unnamed: 4                                 Neighborhood  Unnamed: 6
0         NaN         M3A         NaN        North York         NaN                                    Parkwoods         NaN
1         NaN         M4A         NaN        North York         NaN                             Victoria Village         NaN
2         NaN         M5A         NaN  Downtown Toronto         NaN                    Regent Park, Harbourfront         NaN
3         NaN         M6A         NaN        North York         NaN             Lawrence Manor, Lawrence Heights         NaN
4         NaN         M7A         NaN  Downtown Toronto         NaN  Queen's Park, Ontario Provincial Government         NaN

In [7]:
print(df.shape)
df.describe()

(103, 7)

       Unnamed: 0  Unnamed: 2  Unnamed: 4  Unnamed: 6
count         0.0         0.0         0.0         0.0
mean          NaN         NaN         NaN         NaN
std           NaN         NaN         NaN         NaN
min           NaN         NaN         NaN         NaN
25%           NaN         NaN         NaN         NaN
50%           NaN         NaN         NaN         NaN
75%           NaN         NaN         NaN         NaN
max           NaN         NaN         NaN         NaN

In [14]:
def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords
    
get_latilong('M4G')

[43.70941386000004, -79.36309957799995]

In [13]:
postal_codes = df['Postal Code']    
coords = [ get_latilong(postal_code) for postal_code in postal_codes.tolist() ]

In [15]:
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

In [19]:

df[df.Postal Code == 'M5G']

SyntaxError: invalid syntax (<ipython-input-19-626077c53bed>, line 1)

In [20]:

df.head(15)

    Unnamed: 0 Postal Code  Unnamed: 2           Borough  Unnamed: 4                                       Neighborhood  Unnamed: 6   Latitude  Longitude
0          NaN         M3A         NaN        North York         NaN                                          Parkwoods         NaN  43.752935 -79.335641
1          NaN         M4A         NaN        North York         NaN                                   Victoria Village         NaN  43.728102 -79.311890
2          NaN         M5A         NaN  Downtown Toronto         NaN                          Regent Park, Harbourfront         NaN  43.650964 -79.353041
3          NaN         M6A         NaN        North York         NaN                   Lawrence Manor, Lawrence Heights         NaN  43.723265 -79.451211
4          NaN         M7A         NaN  Downtown Toronto         NaN        Queen's Park, Ontario Provincial Government         NaN  43.661790 -79.389390
5          NaN         M9A         NaN         Etobicoke         NaN                                   Islington Avenue         NaN  43.667481 -79.528953
6          NaN         M1B         NaN       Scarborough         NaN                                     Malvern, Rouge         NaN  43.808626 -79.189913
7          NaN         M3B         NaN        North York         NaN                                          Don Mills         NaN  43.748900 -79.357220
8          NaN         M4B         NaN         East York         NaN                    Parkview Hill, Woodbine Gardens         NaN  43.707193 -79.311529
9          NaN         M5B         NaN  Downtown Toronto         NaN                           Garden District, Ryerson         NaN  43.657491 -79.377529
10         NaN         M6B         NaN        North York         NaN                                          Glencairn         NaN  43.707279 -79.447500
11         NaN         M9B         NaN         Etobicoke         NaN  West Deane Park, Princess Gardens, Martin Grov...         NaN  43.650023 -79.554089
12         NaN         M1C         NaN       Scarborough         NaN             Rouge Hill, Port Union, Highland Creek         NaN  43.785779 -79.157368
13         NaN         M3C         NaN        North York         NaN                                          Don Mills         NaN  43.722143 -79.352023
14         NaN         M4C         NaN         East York         NaN                                   Woodbine Heights         NaN  43.689740 -79.308507

In [21]:
df.to_csv('toronto_part2.csv',index=False)